include ../_config/page.jade
include ../_mixin/mixins.jade
doctype html
html(lang="#{page.lang}", xmlns:og="http://ogp.me/ns#" xmlns:fb="http://ogp.me/ns/fb#")
    head
        include ../_partials/head_metas.jade
        include ../_partials/head_css.jade
        include ../_partials/head_scripts.jade
    body
        //start header
        include ../_blocks/header.jade
        //end header
        block content
        //start footer
        include ../_blocks/footer.jade
        //end footer
        include ../_partials/footer_scripts.jade
