+b("ul").menu
    +e("li").item
        +e("a").link(href="#") Home
    +e("li").item
        +e("a").link(href="#") about
    +e("li").item
        +e("a").link(href="#") archives
    +e("li").item
        +e("a").link(href="#") contact
