ul.b-menu
    li.b-menu__item
        a.b-menu__link(href="#") Link
    li.b-menu__item
        a.b-menu__link(href="#") Link
    li.b-menu__item
        a.b-menu__link(href="#") Link
    li.b-menu__item
        a.b-menu__link(href="#") Link
