link(href="#{page.static_url}css/modules/all/fonts.css#{page.version}", media="all", rel="stylesheet", type="text/css")
link(href="#{page.static_url}css/modules/all/all.css#{page.version}", media="all", rel="stylesheet", type="text/css")
