form.b-contact
    dl.b-contact__item
        dt.b-contact__label
            | Name
        dt.b-contact__field
            input.b-contact__txt-name(type="text")
    dl.b-contact__item
        dt.b-contact__label
            | &nbsp;
        dt.b-contact__field
            input.b-contact__btn-submit(type="submit", value="Send Form!")
