extends ../../_layout/default.jade
//own css
block module_css
    link(href="#{page.static_url}css/modules/contact/index.css#{page.version}", media="all", rel="stylesheet", type="text/css")
//demo index
block b-header
    h1 Hello its a BEM demo of contact
    include ../../_blocks/menu.jade
    include ../../_blocks/search.jade

block content
    include _blocks/form-contact.jade
