extends ../../_layout/default.jade
//demo index
block b-header
    h1 Hello its a BEM demo of contact
    include ../../_blocks/menu.jade
    include ../../_blocks/search.jade

block content
    include _blocks/form-contact.jade
