dl.b-list
    dt.b-list__item-title
        | Item 1
    dd.b-list__item-description
        | Item 1
    dt.b-list__item-title
        | Item 2
    dd.b-list__item-description
        | Item 2
    dt.b-list__item-title
        | Item 3
    dd.b-list__item-description
        | Item 3
