+b("ul").menu
    +e("li").item
        +e( "a" ).link(href="#") Home
    +e("li").item
        +e( "a" ).link(href="#") About
    +e("li").item
        +e( "a" ).link(href="#") Products
    +e("li").item
        +e( "a" ).link(href="#") Contact
