ul.b-menu
    li.b-menu__item
        a.b-menu__link(href="#") Home
    li.b-menu__item
        a.b-menu__link(href="#") About
    li.b-menu__item
        a.b-menu__link(href="#") Products
    li.b-menu__item
        a.b-menu__link(href="#") Contact
