extends ../../_layout/default.jade
//own css
block module_css
    link(href="#{page.static_url}css/modules/blog/index.css#{page.version}", media="all", rel="stylesheet", type="text/css")
//demo index
block b-header
    include ../../_blocks/menu.jade
    include ../../_blocks/search.jade

block content
    +b.wrapper
        include _blocks/content.jade
        include ../../_blocks/widget-announce.jade
        include ../../_blocks/widget-announce.jade
