+b.content
    +e("h1").main-title Welcome to bemjast-blog!!
    +e("p").main-content 
        | Here is the content of the blog
        | Here is the content of the blog
        | Here is the content of the blog
