- var page                        = {}
- page.charset                    = "utf-8"
- page.lang                       = "es"

- page.url                        = "http://localhost:8000/"

- page.static_url                 = "http://localhost:8000/build/"
- page.elements_url               = "http://localhost:8000/"

- page.title                      = "Demo of BEM"
- page.description                = "description"
- page.keywords                   = "keywords"
- page.author                     = "andru255"
- page.name                       = "mi module"
- page.viewport                   = "width=device-width"
- page.robots                     = "index,follow"
- page.version                    = "?aleatoryxD"
- page.img                        = page.static_url + "img/logo_mimodulo.png" + page.version
- page.favicon                    = page.static_url + "favicon.ico" + page.version

- page.og                         = {}
- page.og.type                    = "website"
- page.og.image_width             = "90"
- page.og.image_height            = "60"
- page.og.image_type              = "image/jpg"
- page.og.image                   = page.static_url + "img/logo_mimodule.png" + page.version

- page.dc                         = {}
- page.dc.contributor             = "frontendlabs"
- page.dc.creator                 = "@andru255"
- page.dc.publisher               = "frontendlabs"

- page.geo                        = {}
- page.geo.placename              = "Lima, Peru"
- page.geo.position               = '-12.0478;-77.0622'
- page.geo.region                 = 'PE-LIM'
- page.geo.ICBM                   = '-12.0478, -77.0622'

