extends ../../_layout/default.jade
//own css
block module_css
    link(href="#{page.static_url}css/modules/simple/contact.css#{page.version}", media="all", rel="stylesheet", type="text/css")

block b-header
    //p the content for show in the block header

block content
    //p the content of the own view shows here
