.b-menu
    background #F5FA40
    float right
    border-bottom 3px solid #FCD327
    padding 10px
    width 50%
    +e(link)
        color #E9B018
        margin 0 10px
        &:hover
            text-decoration underline
